# Python Fundamentals
*****************************
Basics of Python Programming Language for Data Science.

### 1. Variables and Data Types

Create the following variables:<br> 
num1=100<br>
num2=300.0<br>
str1="I would to learn data science"<br>
list1=['A', 'B', 'C']<br>
bol1=True

In [1]:
num1=100
num2=300.0
str1="I would to learn data science"
list1=['A', 'B', 'C']
bol1=True

Check the type of each variable that you created using the type() function. <br>

In [2]:
type(num1)
type(num2)
type(str1)
type(list1)
type(bol1)

bool

Print the value of each variable using the print() function.

In [3]:
print(num1)
print(num2)
print(str1)
print(list1)
print(bol1)

100
300.0
I would to learn data science
['A', 'B', 'C']
True

Using one line assign the same value "100" to the following variables: num1, num2, num3.

In [4]:
num1,num2,num3=100,100,100

Using one line assign the following values to the following variables: num1=10, num2=20, num3=30.

In [5]:
num1,num2,num3=10,20,30

Check the size of the str1 string variable.

In [6]:
len(str1)

29

Print in upper case and also in lower case the str1 variable (tip - use the tab completion to see the list of methods).

In [7]:
print(str1.upper())
print(str1.lower())

I WOULD TO LEARN DATA SCIENCE
i would to learn data science

Print the result (True or False) of checking if the text "data" exist in str1 using the in operator.

In [8]:
print("data" in str1)

True

Split str1 into substrings using the split method and store the result in a list variable called list1. Print list1.

In [9]:
list1=str1.split()
print(list1)

['I', 'would', 'to', 'learn', 'data', 'science']

Define the following variables: Name='David', Phone='12345678'
and then print the following message using the the f-string formatting: "My name is David and my phone number is 12345678"

In [10]:
Name='David'
Phone='12345678'
print(f'My name is {Name} and my phone number is {Phone}')

My name is David and my phone number is 12345678

### 2. Lists

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [11]:
colors=['Red', 'Yellow', 'Green', 'Black', 'White']

Print the second color in the colors list.

In [12]:
print(colors[1])

Yellow

Sort and print the colors list in alphabetical order using the sort method.

In [13]:
print(sorted(colors))

['Black', 'Green', 'Red', 'White', 'Yellow']

Add the the "Blue" color to the colors list and print the updated list.

In [14]:
colors.append('Blue')
colors

['Red', 'Yellow', 'Green', 'Black', 'White', 'Blue']

Remove the color 'Green' from the list by using the value and print the updated list.

In [15]:
colors.remove('Green')

Check the size of a list.

In [16]:
len(colors)

5

Create the following two lists: list1 = ['A','B','C'], list2 = ['D','E','F','G'] and then concatenate the two lists into list3 by using the + operator. Print list3.

In [17]:
list1=['A', 'B', 'C']
list2=['D', 'E', 'F', 'G']
list3=list1+list2
print(list3)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Print items 'B', 'C' and 'D' from list3 using the slicing notation.

In [18]:
print(list3[1:4])

['B', 'C', 'D']

Print items 'C' until the end of list3 using the slicing notation.

In [19]:
print(list3[2:])

['C', 'D', 'E', 'F', 'G']

Copy list3 into a list4 using the slicing notation.

In [20]:
list4=list3[:]

Create the following tuple variable: tuple1=(1,2,3,4,5) and print it.

In [21]:
tuple1=(1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

Try to change the first item in the tuple list to the number 7.

In [22]:
tuple1[0]=7

TypeError: 'tuple' object does not support item assignment

### 3. IF and For-Loop Statements

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [23]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
print(colors)

['Red', 'Yellow', 'Green', 'Black', 'White']

Print "Yes" if the "Black" value inside the colors list.

In [24]:
if "Black" in colors:
    print("Yes")

Yes

Print "Yes" if the "Black" value inside the colors list and the "Pink" value is not inside the colors list, otherwise print "No".

In [25]:
if ("Black" in colors) and ("Pink" not in colors):
    print("Yes")
else:
    print("No")

Yes

Create the following variable: num1=50. Print 'More than 100' if the num1>=100. Print 'More than 40' if num1>=40.

In [26]:
num1=50
if num1>=100:
    print("More than 100")
elif num1>=40:
    print("More than 40")

More than 40

Scan the colors list and per each item in the list print the value and the index location.

In [27]:
for i,value in enumerate(colors):
    print(value,i)

Red 0
Yellow 1
Green 2
Black 3
White 4

Print the numbers 1 to 30 using the range() function.

In [28]:
for i in range(30):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

Print the calculation of multiplying the numbers 10,15,20 with the numbers 1,2,3,4,5,6,7,8,9,10 (tip - use nested loops and the range function).

In [29]:
list1=[10,15,20]
for i in list1:
    for j in range(10):
        print(f"{i} x {j+1} = {i*(j+1)}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

### 4. Functions

Define a function called check_color that is getting as input a list of colors and also a color value. If the color value exist in the list it will return 'Yes', otherwise it will return 'No'.

In [30]:
def check_color(colors,value):
    if value in colors:
        print("Yes")
    else:
        print("No")

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and then call the function check_color to check if the 'Green' color in that list.

In [31]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
check_color(colors,'Green')

Yes

Call the function check_color to check if the 'Pink' color in that list but this time while passing a copy of that list (tip - use the slice notation).

In [32]:
check_color(colors[:],"Pink")

No

Add a docstring comment to the check_color function definion and then ask Python to display information about the function (tip - use the ? mark).

In [33]:
def check_color(colors,value):
    '''
    This is docstring of check_color.
    '''
    if value in colors:
        print("Yes")
    else:
        print("No")
        
check_color?

### 5. Dictionaries

Create the following dictionaries friend1, friend2, friend3 with the following info:<br>friend1 with 'Name':'David', 'Age':34, 'Phone':556677.<br>friend2 with 'Name':'Marta', 'Age':29, 'Phone':223344.<br>friend3 with 'Name':'Mark', 'Age':45, 'Phone':333444.

In [34]:
friend1 = {'Name':'David', 'Age':34, 'Phone':556677}
friend2 = {'Name':'Marta', 'Age':29, 'Phone':223344}
friend3 = {'Name':'Mark', 'Age':45, 'Phone':333444}

Print the 'Name' and 'Age' value for friend1.

In [35]:
print(friend1['Name'])
print(friend1['Age'])

David
34

Print the complete friend2 dictionary.

In [36]:
print(friend2)

{'Name': 'Marta', 'Age': 29, 'Phone': 223344}

Add the following information to friend1, friend2, friend3: David 'Birthday' is '3.6', Marth 'Birthday' is '22.4', Mark 'Birthday' is '20.1'.

In [37]:
friend1['Birthday']='3.6'
friend2['Birthday']='22.4'
friend3['Birthday']='20.1'

Print friend1, friend2, friend3.

In [38]:
print(friend1, friend2, friend3)

{'Name': 'David', 'Age': 34, 'Phone': 556677, 'Birthday': '3.6'} {'Name': 'Marta', 'Age': 29, 'Phone': 223344, 'Birthday': '22.4'} {'Name': 'Mark', 'Age': 45, 'Phone': 333444, 'Birthday': '20.1'}

Update friend2 phone number to: '112233'.

In [39]:
friend2['Phone']=112233

Remove 'Phone' from friend1 and print the updated dictionaries.

In [40]:
del friend1['Phone']
print(friend1)

{'Name': 'David', 'Age': 34, 'Birthday': '3.6'}

Create an empty list variable called myFriends.

In [41]:
myFriends=[]

Add the three dictionaries: friend1, friend2, friend3 to the myFriends list.

In [42]:
myFriends=[friend1, friend2, friend3]
print(myFriends)

[{'Name': 'David', 'Age': 34, 'Birthday': '3.6'}, {'Name': 'Marta', 'Age': 29, 'Phone': 112233, 'Birthday': '22.4'}, {'Name': 'Mark', 'Age': 45, 'Phone': 333444, 'Birthday': '20.1'}]

Print the first item in the myFriends list and then print just the 'Name' of the second item in the list."

In [43]:
print(myFriends[0])
print(myFriends[1]['Name'])

{'Name': 'David', 'Age': 34, 'Birthday': '3.6'}
Marta

Loop through the myFriends list and check which friend is the oldest and print his/her name.

In [44]:
oldest_name = ""
oldest_age = -1

for friend in myFriends:
    if friend.get('Age', 0) > oldest_age:
        oldest_age = friend['Age']
        oldest_name = friend['Name']
        
print(oldest_name)

Mark

### 6. Classes, Objects, Attributes, and Methods

Define a new class called: Book with the following definition: 
1. Attributes to be initalized during a new object creation: name, author, pages, price.
2. One method called update_price that will get as a parameter an updated price and adjust the object price attribute.

In [45]:
class Book:
    
    def __init__(self,name,author,pages,price):
        self.name=name
        self.author=author
        self.pages=pages
        self.price=price
        
    def update_price(self,new_price):
        self.price=new_price

Create two objects from the new class: book1, book2 with the following info:
1. book1: 'Python for Begineers', 'David', 240, 99
2. book2: 'Machine Learning for Begineers', 'Marta',320, 199

In [46]:
book1=Book('Python for Begineers', 'David', 240, 99)
book2=Book('Machine Learning for Begineers', 'Marta',320, 199)

Print the name and price of book1.

In [47]:
print(book1.name, book1.price)

Python for Begineers 99

Update the price of book1 to 79 using the object method and print the name and price again.

In [48]:
book1.update_price(79)
print(book1.name, book1.price)

Python for Begineers 79

### 7. Importing Modules

Import the following modules:
1. random module with alias rd
2. math module 
3. statistics module

In [49]:
import random as rd
import math
import statistics

Generate 10 random integer numbers between 0 to 20 and store them in a list variable called myrandom. Print the new list.

In [50]:
myrandom = [rd.randrange(0,20) for _ in range(10)]
print(myrandom)

[17, 7, 4, 16, 19, 6, 12, 3, 16, 6]

Calculate and print the following calculation : sin(0.5*pi) * (2^8).

In [51]:
print(math.sin(0.5*math.pi)*(2^8))

10.0

Print the arithmetic mean and the standard deviation of the numbers in the myrandom list.

In [52]:
print(f"Mean: {statistics.mean(myrandom)}")
print(f"Standard Deviation: {statistics.stdev(myrandom)}")

Mean: 10.6
Standard Deviation: 6.04060335470629

### End of document
************************